<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <key>url</key>
                    <string>https://debugofthe67.github.io/webstore/apps/ACWorld-v1.4--iOS3.0-(Clutch-1.4.6).ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.3dmagicbox.AlpineCrawlerWorld</string>
                <key>bundle-version</key>
                <string>1.4</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>ACWorld</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
