<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <key>url</key>
                    <string>https://webstore.pages.dev/apps/Angry Birds-v1.7.2--iOS4.3-(Clutch-1.4.6).ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.rovio.angrybirdsstarwarsii</string>
                <key>bundle-version</key>
                <string>1.7.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Angry Birds</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
